.btn{

    height:56px;

    border:none;

    border-radius:16px;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    font-size:15px;

    font-weight:600;

    transition:.25s;

}

.btn:hover{

    transform:translateY(-2px);

}

.primary-btn{

    background:var(--primary);

    color:white;

}

.secondary-btn{

    background:white;

    border:1px solid var(--border);

}